@import '~antd/dist/antd.css';



@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Marck+Script&family=Pangolin&family=Pattaya&family=Warnes&display=swap');


.fontModal{
    font-family: 'Pangolin', cursive;
    font-size: 16px;
}


.icons:hover {
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
    color: red;
}



.imageMainStringSearch {
    position	: relative;
    text-align: center;

}



/* 
.parallax{
    background-image: url("./images/imagesPixabel/example.jpg");
    padding-top: 200px;
    min-height: 621px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
} */

@media (max-width: 450px) and (min-width: 0px){
    .contentAboutUs{
        height: auto;
        /* background-color: grey; */
        font-size: 16px;
        opacity: 0.5;
        padding: "21px"; 
        text-align: "justify"
    }

    .advantages{
        flex-flow: row wrap;
    }

    .ibmxFontSize{
        font-size: small;
    }
}

@media (max-width: 700px) and (min-width: 451px){
    .contentAboutUs{
        height: auto;
        /* background-color: grey; */
        font-size: 25px;
        opacity: 0.5;
        padding: "21px"; 
        text-align: "justify"
    }

    .advantages1{
        margin: 0 auto;  
        justify-content: space-around;
       width: 30%;
       font-family: 'Caveat', cursive, 

    }

    .ibmxFontSize{
        font-size: small;
    }
}

@media (max-width: 2500px) and (min-width: 701px){
    .contentAboutUs{
        height: auto;
        /* background-color: grey; */
        font-size: 25px;
        opacity: 0.8;
        padding: "21px"; 
        text-align: "justify"
    }

    .advantages1{
        margin: 0 auto;  
        justify-content: space-around;
       width: 30%;
       font-family: 'Oswald', sans-serif;
     
    }

    .hoverCard:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .hoverCardEdit:hover {
        transform: scale(1.01);
        cursor: pointer;
    }

    .ibmxFontSize{
        font-size: 21px;
    }

}


.deleteButton{
    background-color: red;
    color: white;
    font-size: 16px;
}


.deleteButton:hover{
    background-color: yellow;
    color: black;
    font-size: 16px;
}


.backgroundDelete{
    /* background-image: url("./images/imagesPixabel/eight.webp"); */
    color: white;
    font-size: 16px;
   
}

