.container {
    padding: 164px 164px 54px 164px;
}

.head-panel {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 16px 0;
    max-height: 72px;
    /*min-width: 1024px;*/
    width: 90%;
    margin: 84px auto 32px auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px -1px rgba(158, 158, 158, 0.25);
    border-radius: 15px;
}

.head-part {
    align-items: center;
    display: inline-flex;
}

.user-avatar {
    margin-right: 14px;
    cursor: pointer;
}

.user-more {
    margin-left: 28px;
    margin-right: 24px;
}

.user-more:hover {
    cursor: pointer;
}

.user-info {
    flex: 0 1 auto;
    font-weight: bold;
    text-transform: capitalize;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    color: #282828;
    cursor: pointer;
}

.user-info--name {
    display: block;
    margin: 0;
}

.bidding-info {
    flex: 0 1 auto;
    margin-left: 56px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.bidding-date {
    flex: 0 1 auto;
    margin-left: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.bidding-info--start {
    display: block;
    margin: 0;
    color: #9FF7CF;
}

.bidding-info--finish {
    display: block;
    margin: 0;
    color: #FEA283;
}

.bidding-date--digit {
    display: block;
    margin: 0;
    color: #686CD7;
}

.date-clock {
    margin-left: 14px;
    margin-right: 16px;
}

.bidding-btn {
    margin-left: 92px;
    margin-right: 26px;
    background: #5459CD;
    border-color: #5459CD;
    width: 160px;
    box-shadow: 0 12px 12px -8px rgba(84, 89, 205, 0.5);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.bidding-btn:hover {
    background: #7D58FF;
    border-color: #7D58FF;
}

.bidding-btn:focus {
    background: #7D58FF;
    border-color: #7D58FF;
}

.bidding-stats {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}

.stats-icon {
    margin-right: 82px;
}

.bidding-stats--first {
    color: #7D58FF;
}

.bidding-stats--second {
    color: #FFDC82;
}

.bid-card {
    min-width: 1024px;
    height: 262px;
    background: #FFFFFF;
    box-shadow: 0 0 10px -1px rgba(158, 158, 158, 0.25);
    border-radius: 15px;
}

.ant-popover-inner {
    border-radius: 8px;
    /*box-shadow: 0 12px 12px -8px rgba(84, 89, 205, 0.5);*/
    box-shadow: 0 0 10px -4px rgba(84, 89, 205, 0.5);
}

.bidding-btn-step {
    margin-left: 10px;
    background: #5459CD;
    border-color: #5459CD;
    width: 160px;
    box-shadow: 0 12px 12px -8px rgba(84, 89, 205, 0.5);
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}