.loginForm {
    background-image: url(../images/imagesPixabel/pilots.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 25px; */

}

.wantForm{
    background-image: url(../images/air.gif);
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat; 
     background-size: cover;
     /* margin-top: 25px; */
   
 }

/* .registerFormMain{
    background-image: url(../images/imagesPixabel/personal3.jpg);
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   
 } */


/* .aboutUs{
    background-image: url(../images/imagesPixabel/space.webp);
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat; 
     background-size: cover;
   
 } */


/*https://thumbs.dreamstime.com/z/e-r-o-143432816.jpg*/
/* Город */
/* https://avatars.mds.yandex.net/get-pdb/70729/949bc210-bb71-48e8-aea8-95c35b05ce1e/s1200 */