.block {
    width: 1520px;
    height: 250px;
    border-radius: 25px;
    box-shadow: inset 1px 1px 5px 5px rgba(100,100,100,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(246, 249, 254);
    padding-top: 30px
}
.droppable_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px;
}

.sub_block {
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 150px;
    width: 280px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    
}

.rating_star {
    display: inline;
    color: white;
    font-size: 1rem;
}
/* Отдельные цвета для каждой карточки. Почему то инлайновый стиль работает некорректо */
.flight_direction {
    background-color: rgb(108, 135, 237);
}
.duration {
    background-color: rgb(242, 166, 137);
}
.wish_to_work {
    background-color: rgb(249, 220, 141);
}
.weekends {
    background-color: rgb(119, 93, 246);
}
.time_of_fly {
    background-color: rgb(194, 213, 251);
}
.category_title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

/* Невыделяемый текст */
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  /* Стили для блока заголовка (Приоритетно - Не приоритетно) */
.prioritet_header_block {
    display: flex;
    justify-content: space-between;
}
.prioritet_text {
    display: inline;
    font-size: 1.2rem;
    color: rgb(116, 142, 247);
    margin-left: 50px;
    margin-right: 50px;
}   

/* Стиль для руны */
.runa {
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(99,99,99);
    text-align: center;
    margin-bottom: 30px;
}